#.obsidian/plugins/*
#!.obsidian/plugins/homework-manager/
#.obsidian/themes/
#.obsidian/snippets/
#.obsidian/*.json
#!.obsidian/community-plugins.json
.obsidian/*
.obsidian/plugins/github-sync/data.json
.obsidian/plugins/github-sync/main.js
.obsidian/plugins/github-sync/manifest.json
.obsidian/plugins/github-sync/styles.css
!.obsidian/community-plugins.json
!.obsidian/plugins/
